UNSTRUCTURED_API_KEY=your-unstructured-api-key
UPSTASH_EMAIL=your-upstash-email
UPSTASH_API_KEY=your-upstash-api-key
REDIS_URL=your-redis-url
OPENAI_API_KEY=your-openai-api-key
PINECONE_API_KEY=your-pinecone-api-key
LANGSMITH_PROJECT=your-langsmith-project
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=your-langsmith-api-key
LANGSMITH_TRACING=true
MONGODB_URI=your-mongodb-uri
